<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key><string>ArknightsWallpaper</string>
  <key>CFBundleIdentifier</key><string>local.arknights.dynamic-wallpaper</string>
  <key>CFBundleName</key><string>Arknights Dynamic Wallpaper</string>
  <key>CFBundleDisplayName</key><string>Arknights Dynamic Wallpaper</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleShortVersionString</key><string>0.1.0</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>LSUIElement</key><true/>
  <key>NSHighResolutionCapable</key><true/>
  <key>AKProjectRoot</key><string>__PROJECT_ROOT__</string>
  <key>AKNpmPath</key><string>__NPM_PATH__</string>
  <key>AKServerURL</key><string>__SERVER_URL__</string>
</dict>
</plist>
